@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


body {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      background-color: #f9c9fa;
      font-family: 'Jost', sans-serif;

    }

    #message-container {
      width: 65%;
      max-width: 1200px;
    }

    #message-container div {
      background-color: #e6a5e6;
      padding: 20px;
    }

    #message-container div:nth-child(2n) {
      background-color: #e6a5e6;
      
    }

    #send-container {
      position: fixed;
      padding-bottom: 30px;
      bottom: 0;
      background-color: #f9c9fa;
      max-width: 1200px;
      width: 65%;
      display: flex;
    }

    #send-button{
        background-color: #e6a5e6;
        font-size: 15px;
    }

    #message-input {
        height: 35px;
        flex-grow: 1;
    }